.carousel {
    width: 60%;
    height: 700px;
    background-color: black;
}

.carousel-inner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}

.carousel-inner .left, .carousel-inner .right {
    flex: 5%;
    height: 10%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
    position: relative;
    top: 45%;
}
.carousel-inner .right {
    right: 2%;
}
.carousel-inner .left {
    left: 2%;
}
.carousel-inner .center {
    flex: 90%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 30px;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 20px 0;
    border-radius: 9px;
}
@media only screen and (max-width: 480px) {
    .carousel-inner .center{
        position: relative;
        top: 120px;
    }
    h1{
        font-size: 22px;
    }
  }


.thumbnail-container {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 40px 0 0 0;
    overflow: scroll;
}

.thumbnails img {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
}