.carousel {
    width: 60%;
    height: 700px;
    background-color: black;
}

.carousel-inner {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carousel-inner .left, .carousel-inner .right {
    flex: 5%;
    height: 10%;
    background-color: rgb(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    color: white;
    cursor: pointer;
    position: relative;
    top: 45%;
}
.carousel-inner .right {
    right: 2%;
}
.carousel-inner .left {
    left: 2%;
}
.carousel-inner .center {
    flex: 90%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 9px;
}
/* 
h1 {
    position: absolute;
    top: 0;
    align-items: center;
    width: 60%;
    text-align: center;
    margin-top: 20px;
} */

.thumbnail-container {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 40px 0 0 0;
    overflow: scroll;
}

.thumbnails img {
    width: 100px;
    height: 100px;
    margin: 5px;
}